# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.whl

# Virtual environment
env/
venv/
.venv/
*.venv/

# Environment variables
.env
.env.local
.env.development
.env.production

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Coverage reports
.coverage
coverage.xml
htmlcov/

# Testing
.pytest_cache/
tox/
nox/

# Alembic migrations cache
migrations/versions/*.pyc

# Database files (if any local DBs are created)
*.db


# Miscellaneous
*.bak
*.tmp
*.backup